@model IEnumerable<ITWEB_M3.Models.Component>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="View">View Components</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComponentTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentLoanInformationId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLoanInformationId)
            </td>
        </tr>
}
    </tbody>
</table>
